<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>小区管理</title>
		<link href="../../component/pear/css/pear.css" rel="stylesheet" />
	</head>
	<body class="pear-container">
		<div class="layui-card">

		</div>
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="village_table" lay-filter="village_table"></table>
			</div>
		</div>

		<script type="text/html" id="role-toolbar">
			<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
				<i class="layui-icon layui-icon-add-1"></i>
				新增
			</button>
			<button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
				<i class="layui-icon layui-icon-delete"></i>
				删除
			</button>
		</script>

		<script type="text/html" id="role-bar">
			<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-auz"></i></button>
			<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
			<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
		</script>


		<script type="text/html" id="switchTpl">
			<input type="checkbox" name="status" value="{{d.status}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="sexDemo" {{ d.status == 1 ? 'checked' : '' }}>
		</script>

		<script src="../../component/layui/layui.js"></script>
		<script src="../../component/pear/pear.js"></script>
		<script>
		    layui.use(['table','form','jquery'],function () {
		        let table = layui.table;
		        let form = layui.form;
		        let $ = layui.jquery;

		        let MODULE_PATH = "./user/";

		        let cols = [
		            [
		                {type:'checkbox'},
                        {title: 'ID', field: 'id', align:'center', width:100},
		                {title: '姓名', field: 'name', align:'center', width:100},
		                {title: '拥有角色', field: 'rname', align:'center'},
						{title: '电话号码', field: 'phone', align:'center'},
						{title: '邮箱', field: 'email', align:'center'},
		                {title: '操作', toolbar: '#role-bar', align:'center', width:195}
		            ]
		        ]

		        table.render({
		            elem: '#village_table',
		            url: 'http://localhost:8080/sunshine/admin/list',
		            page: true ,
		            cols: cols ,
		            skin: 'line',
		            toolbar: '#role-toolbar',
					//数据表格携带token
					headers: {
						token: localStorage.getItem("token")
					},
		            defaultToolbar: [{
		                layEvent: 'refresh',
		                icon: 'layui-icon-refresh',
		            }, 'filter', 'print', 'exports']
		        });

		        table.on('tool(village_table)', function(obj){
		            if(obj.event === 'remove'){
		                window.remove(obj);
		            } else if(obj.event === 'edit'){
		                window.edit(obj);
		            } else if(obj.event === 'power'){
		                window.power(obj);
		            }
		        });

		        table.on('toolbar(village_table)', function(obj){
		            if(obj.event === 'add'){
		                window.add();
		            } else if(obj.event === 'refresh'){
		                window.refresh();
		            } else if(obj.event === 'batchRemove'){
		                window.batchRemove(obj);
		            }
		        });

		        form.on('submit(village-query)', function(data){
		            table.reload('village_table',{where:data.field})
		            return false;
		        });

		        form.on('switch(goods-enable)', function(obj){
                    var checked = obj.elem.checked;
                    let status=2;

                    if(checked==true){
                        status=1;
					}

                    $.ajax({
                        url:'http://www.j236.com/admin/goods/updateStatus',
                        data:{
                            "goodsId":this.value,
							"status":status
						},
                        type:'post',
                        success:function(result){
                            layer.alert("操作成功!");
                            form.render();
                        }
                    })

		        });

		        window.add = function(){
		            layer.open({
		                type: 2,
		                title: '新增',
		                shade: 0.1,
                        maxmin: true,
		                area: ['800px', '500px'],
		                content: MODULE_PATH + 'add.html'
		            });
		        }


		        window.edit = function(obj){
		            layer.open({
		                type: 2,
		                title: '修改管理员角色',
		                shade: 0.1,
		                area: ['800px', '500px'],
                        content: MODULE_PATH +'edit.html?id='+obj.data.id
		            });
		        }

		        window.remove = function(obj){
		            layer.confirm('确定要删除该小区', {icon: 3, title:'提示'}, function(index){
		                layer.close(index);
		                let loading = layer.load();

                        $.ajax({
                            url:'http://localhost:8080/community/village/delete',
                            data:{
                                "id":obj.data['id']
                            },
                            type:'post',
                            success:function(result){
                                layer.close(loading);
                                if(result.code==0){
                                    layer.msg(result.msg,{icon:1,time:1000},function(){
                                        obj.del();//前端的假删除
                                    });
                                }else{
                                    layer.msg(result.msg,{icon:2,time:1000});
                                }
                            }
                        })

		            });
		        }

		        window.batchRemove = function(obj){
		            let data = table.checkStatus(obj.config.id).data;
		            if(data.length === 0){
		                layer.msg("未选中数据",{icon:3,time:1000});
		                return false;
		            }
		            let ids = "";
		            for(let i = 0;i<data.length;i++){
		                ids += data[i].id+",";
		            }

		            //去除最后一个逗号
		            ids = ids.substr(0,ids.length-1);

		            console.info(ids)

		            layer.confirm('确定要删除这些小区', {icon: 3, title:'提示'}, function(index){
		                layer.close(index);
		                let loading = layer.load();
		                $.ajax({
		                    url: "http://localhost:8080/community/village/deleteByIds",
							data:{
		                    	"ids":ids
							},
		                    type:'POST',
		                    success:function(result){
		                        layer.close(loading);
		                        if(result.code==0){
		                            layer.msg(result.msg,{icon:1,time:1000},function(){
		                                table.reload('village_table');
		                            });
		                        }else{
		                            layer.msg(result.msg,{icon:2,time:1000});
		                        }
		                    }
		                })
		            });
		        }

		        window.refresh = function(){
		            table.reload('village_table');
		        }
		    })
		</script>
	</body>
</html>
