<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../component/pear/css/pear.css" />
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">商品标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">商品价格</label>
                        <div class="layui-input-block">
                            <input type="text" name="price" required  lay-verify="required" placeholder="请输入价格" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">商品卖点</label>
                        <div class="layui-input-block">
                            <input type="text" name="sellPoint" lay-verify="required" autocomplete="off" placeholder="请输入卖点" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">库存数量</label>
                        <div class="layui-input-block">
                            <input type="text" name="num" required  lay-verify="required" placeholder="请输入库存" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">条形码</label>
                        <div class="layui-input-block">
                            <input type="text" name="barcode" lay-verify="required" autocomplete="off" placeholder="请输入条形码" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                商品分类
                            </div>
                            <div class="layui-card-body">
                                <ul id="demoTree2" class="dtree" data-id="0"></ul>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test2">多图片上传</button>
                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                        预览图：
                        <div class="layui-upload-list" id="demo2"></div>
                    </blockquote>
                </div>



                <div class="layui-form-item layui-form-text">
                    <div class="layui-input-block">
                        <textarea id="editor_id" name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="user-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script src="../../../component/layui/layui.js"></script>
<script src="../../../component/pear/pear.js"></script>
<script charset="utf-8" src="../../js/kindeditor/kindeditor-all-min.js"></script>
<script charset="utf-8" src="../../js/kindeditor/lang/zh-CN.js"></script>
<script>
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('#editor_id', {
            //指定上传文件参数名称
            filePostName : "uploadFile",
            uploadJson : 'http://www.j236.com/admin/upload/image',
            allowFileManager : true,
        });
    });
</script>

<script>
layui.use(['form','jquery','upload','dtree'],function(){
    let form = layui.form;
    let $ = layui.jquery;
    let upload = layui.upload;
    let dtree = layui.dtree;

    dtree.render({
        elem: "#demoTree2",
        initLevel: "1",
        method: 'get',
        url: "http://www.j236.com/admin/category/find",
        cache: false, //当取消节点缓存时，则每次加载子节点都会往服务器发送请求
        select: true,
        selectInputName: {
            nodeId: "categoryId", //key值为树中可以获取到的值的名称，value值为表单的name
        }
    });




    //多图片上传
    upload.render({
        elem: '#test2'
        ,url: 'http://www.j236.com/admin/upload/image' //改成您自己的上传接口
        ,field:"uploadFile"
        ,multiple: true
        ,before: function(obj){
            //预读本地文件示例，不支持ie8
            obj.preview(function(index, file, result){
                $('#demo2').append('<img style="width: 50px;height: 50px" src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
            });
        }
        ,done: function(res){

            //上传完毕
            console.info(res)

            //将图片设置到隐藏域中
            $(".layui-form").append("<input class='image' type='hidden' name='image' value='"+res.url+"'>");

        }
    });

    form.on('submit(user-save)', function(data){

        //获取隐藏域中的图片
        let imgArray = [];
        $(".image").each(function (index,dom) {
            imgArray.push(dom.value);
        });
        data.field.image=imgArray.join(",");

        //获取KindEditor的内容
        editor.sync();
        data.field.desc=$("#editor_id").val();

        console.info(data.field);

        $.ajax({
            url:'http://www.j236.com/admin/goods/add',
            data:data.field,
            type:'post',
            success:function(result){
                if(result.code==0){
                    layer.msg(result.msg,{icon:1,time:1000},function(){
                        parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                        window.parent.location.reload()
                    });
                }else{
                    layer.msg(result.msg,{icon:2,time:1000});
                }
            }
        })
        return false;
    });
})
</script>
<script>
</script>
</body>
</html>