<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>商品管理</title>
		<link href="../../component/pear/css/pear.css" rel="stylesheet" />
	</head>
	<body class="pear-container">
		<div class="layui-card">
			<div class="layui-card-body">
				<form class="layui-form" action="">
					<div class="layui-form-item">
						<div class="layui-form-item layui-inline">
							<label class="layui-form-label">商品标题</label>
							<div class="layui-input-inline">
								<input type="text" name="title" placeholder="" class="layui-input">
							</div>
						</div>

						<div class="layui-form-item layui-inline">
							<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="goods-query">
								<i class="layui-icon layui-icon-search"></i>
								查询
							</button>
							<button type="reset" class="pear-btn pear-btn-md">
								<i class="layui-icon layui-icon-refresh"></i>
								重置
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="goods-table" lay-filter="goods-table"></table>
			</div>
		</div>
		
		<script type="text/html" id="role-toolbar">
			<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
				<i class="layui-icon layui-icon-add-1"></i>
				新增
			</button>
			<button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
				<i class="layui-icon layui-icon-delete"></i>
				删除
			</button>
		</script>
		
		<script type="text/html" id="role-bar">
			<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
			<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
		</script>
		
		<script type="text/html" id="goods-enable">

			<input type="checkbox" name="enable" value="{{d.id}}" lay-skin="switch" lay-text="上架|下架" lay-filter="goods-enable" {{ d.status == 1 ? 'checked' : '' }}>
		</script>

		<script src="../../component/layui/layui.js"></script>
		<script src="../../component/pear/pear.js"></script>
		<script>
		    layui.use(['table','form','jquery'],function () {
		        let table = layui.table;
		        let form = layui.form;
		        let $ = layui.jquery;
		
		        let MODULE_PATH = "./item/";
		
		        let cols = [
		            [
		                {type:'checkbox'},
                        {title: 'ID', field: 'consultation_id', align:'center', width:100},
		                {title: '类型', field: 'type', align:'center', width:100},
		                {title: '门诊编号', field: 'con_num', align:'center'},
                        {title: '患者', field: 'patientId', align:'center',templet:function(d){
							return d.patient.name;
						}},
		                {title: '会诊科室', field: 'deptId', align:'center', templet:function(d){
							return d.dept.dept_name;
						}},
		                {title: '住院床号', field:'bed_num', align:'center' },
						{title: '负责人', field: 'doctorId', align:'center', templet:function(d){
							d.patient.doctor.doctor_name;
						}},
						{title: '金额', field: 'money', align:'center', templet:'#goods-enable'},
						{title: '时间', field: 'time', align:'center', templet:'#goods-enable'},
						{title: '药品', field: 'medicineID', align:'center', templet:function(d){
							return d.medicine.medicine_name;
						}},
						{title: '付款', field: 'pay', align:'center', templet:'#goods-enable'},
						{title: '状态', field: 'status', align:'center', templet:'#goods-enable'}
		            ]
		        ]
		
		        table.render({
		            elem: '#goods-table',
		            url: 'http://localhost:8080/consultation/queryall',
		            page: true ,
		            cols: cols ,
		            skin: 'line',
		            toolbar: '#role-toolbar',
		            defaultToolbar: [{
		                layEvent: 'refresh',
		                icon: 'layui-icon-refresh',
		            }, 'filter', 'print', 'exports']
		        });
		
		        table.on('tool(goods-table)', function(obj){
		            if(obj.event === 'remove'){
		                window.remove(obj);
		            } else if(obj.event === 'edit'){
		                window.edit(obj);
		            } else if(obj.event === 'power'){
		                window.power(obj);
		            }
		        });
		
		        table.on('toolbar(goods-table)', function(obj){
		            if(obj.event === 'add'){
		                window.add();
		            } else if(obj.event === 'refresh'){
		                window.refresh();
		            } else if(obj.event === 'batchRemove'){
		                window.batchRemove(obj);
		            }
		        });
		
		        form.on('submit(goods-query)', function(data){
		            table.reload('goods-table',{where:data.field})
		            return false;
		        });
		
		        form.on('switch(goods-enable)', function(obj){
                    var checked = obj.elem.checked;
                    let status=2;

                    if(checked==true){
                        status=1;
					}

                    $.ajax({
                        url:'http://www.j236.com/admin/goods/updateStatus',
                        data:{
                            "goodsId":this.value,
							"status":status
						},
                        type:'post',
                        success:function(result){
                            layer.alert("操作成功!");
                            form.render();
                        }
                    })

		        });
		
		        window.add = function(){
		            layer.open({
		                type: 2,
		                title: '新增',
		                shade: 0.1,
                        maxmin: true,
		                area: ['800px', '500px'],
		                content: MODULE_PATH + 'add.html'
		            });
		        }
		

		        window.edit = function(obj){
		            layer.open({
		                type: 2,
		                title: '修改',
		                shade: 0.1,
		                area: ['800px', '500px'],
                        content: MODULE_PATH +'edit.html?id='+obj.data.id
		            });
		        }
		
		        window.remove = function(obj){
		            layer.confirm('确定要删除该商品', {icon: 3, title:'提示'}, function(index){
		                layer.close(index);
		                let loading = layer.load();
                        $.ajax({
                            url:'http://www.j236.com/admin/goods/updateStatus',
                            data:{
                                "goodsId":obj.data['id'],
                                "status":3
                            },
                            type:'post',
                            success:function(result){
                                layer.close(loading);
                                if(result.code==0){
                                    layer.msg(result.msg,{icon:1,time:1000},function(){
                                        obj.del();
                                    });
                                }else{
                                    layer.msg(result.msg,{icon:2,time:1000});
                                }
                            }
                        })

		            });
		        }
		
		        window.batchRemove = function(obj){
		            let data = table.checkStatus(obj.config.id).data;
		            if(data.length === 0){
		                layer.msg("未选中数据",{icon:3,time:1000});
		                return false;
		            }
		            let ids = "";
		            for(let i = 0;i<data.length;i++){
		                ids += data[i].userId+",";
		            }
		            ids = ids.substr(0,ids.length-1);
		            layer.confirm('确定要删除这些用户', {icon: 3, title:'提示'}, function(index){
		                layer.close(index);
		                let loading = layer.load();
		                $.ajax({
		                    url: MODULE_PATH+"batchRemove/"+ids,
		                    dataType:'json',
		                    type:'delete',
		                    success:function(result){
		                        layer.close(loading);
		                        if(result.success){
		                            layer.msg(result.msg,{icon:1,time:1000},function(){
		                                table.reload('user-table');
		                            });
		                        }else{
		                            layer.msg(result.msg,{icon:2,time:1000});
		                        }
		                    }
		                })
		            });
		        }
		
		        window.refresh = function(){
		            table.reload('goods-table');
		        }
		    })
		</script>
	</body>
</html>
