<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mojocebe.mapper.AdminMapper">
    <select id="getAllAdmins" resultType="com.example.mojocebe.entity.Admin">
        SELECT * FROM t_user
    </select>

    <insert id="createAdmin">
        INSERT INTO t_user (username, password, status, roles)
        VALUES (#{username}, #{password}, #{status}, #{roles})
    </insert>

    <update id="updateAdmin">
        UPDATE t_user SET username = #{username}, password = #{password}, status = #{status}, roles = #{roles}
        WHERE id = #{id}
    </update>

    <delete id="deleteAdmin">
        DELETE FROM t_user WHERE id = #{id}
    </delete>
</mapper>

