<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../component/pear/css/pear.css" />
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">类型：</label>
                        <div class="layui-input-block">
                            <input type="text" name="type" lay-verify="required" autocomplete="off" placeholder="请输入医生姓名" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">门诊编号：</label>
                        <div class="layui-input-block">
                            <input type="text" name="con_num" lay-verify="required" autocomplete="off" placeholder="请输入医生姓名" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">患者：</label>
                        <div class="layui-input-block">
                            <select id="patientId" name="patientId" lay-filter="aihao" >
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">科室</label>
                        <div class="layui-input-block">
                            <select id="deptId" name="deptId" lay-filter="aihao" >
                                <option value=""></option>
                            </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">床号</label>
                        <div class="layui-input-block">
                            <input type="text" name="bed_num" lay-verify="required" autocomplete="off" placeholder="请输入最大人数" class="layui-input">
                        </div>
                    </div>  

                    <div class="layui-inline">
                        <label class="layui-form-label">主治医生：</label>
                        <div class="layui-input-block">
                            <select id="doctorId" name="doctorId" lay-filter="aihao" >
                                <option value=""></option>
                            </select>
                        </div>
                    </div>  
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">金额：</label>
                        <div class="layui-input-block">
                            <input type="text" name="money lay-verify="required" autocomplete="off" placeholder="请输入医生姓名" class="layui-input">
                    </div>  

                    <div class="layui-inline">
                        <label class="layui-form-label">时间</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="test4">
                        </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">药品：</label>
                        <div class="layui-input-block">
                            <select id="medicineId" name="medicineId" lay-filter="aihao" >
                                <option value=""></option>
                            </select>
                    </div>  

                    <div class="layui-inline">
                        <label class="layui-form-label">付款</label>
                        <div class="layui-input-block">
                            <input type="text" name="pay" lay-verify="required" autocomplete="off" placeholder="请输入医生姓名" class="layui-input">
                    </div>  
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">状态：</label>
                        <div class="layui-input-block">
                            <input type="text" name="status" lay-verify="required" autocomplete="off" placeholder="请输入医生姓名" class="layui-input">
                    </div>                  
                </div>
                

            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="reservation-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script src="../../../component/layui/layui.js"></script>
<script src="../../../component/pear/pear.js"></script>


<script>
layui.use(['form','jquery','upload','dtree'],function(){
    let form = layui.form;
    let $ = layui.jquery;
    let upload = layui.upload;

    $.ajax({
        url:'/doctor/query',
        type:'get',
        beforeSend: function(request) {
            request.setRequestHeader("token", localStorage.getItem("token"));
        },
        success:function(result){
            if(result.code==0){

                //result.data 小区列表
                var data=result.data;

                $.each(data,function (index,doctor) {
                    $("#doctorId").append("<option value='"+doctor.doctor_id+"'>"+doctor.doctor_name+"</option>")

                })
                //重新渲染下拉框
                layui.form.render("select")

            }else{
                layer.msg(result.msg,{icon:2,time:1000});
            }
        }
    })


    $.ajax({
        url:'/medicine/queryall',
        type:'get',
        beforeSend: function(request) {
            request.setRequestHeader("token", localStorage.getItem("token"));
        },
        success:function(result){
            if(result.code==0){

                //result.data 小区列表
                var data=result.data;

                $.each(data,function (index,medicine) {
                    $("#medicineId").append("<option value='"+medicine.medicine_id+"'>"+medicine.medicine_name+"</option>")

                })
                //重新渲染下拉框
                layui.form.render("select")

            }else{
                layer.msg(result.msg,{icon:2,time:1000});
            }
        }
    })


    $.ajax({
        url:'/patients/query',
        type:'get',
        beforeSend: function(request) {
            request.setRequestHeader("token", localStorage.getItem("token"));
        },
        success:function(result){
            if(result.code==0){

                //result.data 小区列表
                var data=result.data;

                $.each(data,function (index,patient) {
                    $("#patientId").append("<option value='"+patient.id+"'>"+patient.name+"</option>")

                })
                //重新渲染下拉框
                layui.form.render("select")

            }else{
                layer.msg(result.msg,{icon:2,time:1000});
            }
        }
    })

    $.ajax({
        url:'/dept/query',
        type:'get',
        beforeSend: function(request) {
            request.setRequestHeader("token", localStorage.getItem("token"));
        },
        success:function(result){
            if(result.code==0){

                //result.data 小区列表
                var data=result.data;

                $.each(data,function (index,dept) {
                    $("#deptId").append("<option value='"+dept.dept_id+"'>"+dept.dept_name+"</option>")

                })
                //重新渲染下拉框
                layui.form.render("select")

            }else{
                layer.msg(result.msg,{icon:2,time:1000});
            }
        }
    })


    form.on('submit(reservation-save)', function(data){

        $.ajax({
            url:'/consultation/add',
            data:JSON.stringify(data.field),
            dataType:'json',
            contentType:'application/json',
            type:'post',
            success:function(result){
                if(result.code==0){
                    layer.msg(result.msg,{icon:1,time:1000},function(){
                        parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                        window.parent.location.reload()
                    });
                }else{
                    layer.msg(result.msg,{icon:2,time:1000});
                }
            }
        })
        return false;
    });
})
</script>

<script type="text/javascript">
    layui.use("laydate",function(){
        var laydate = layui.laydate;
        laydate.render({
            elem:'#test1', // 绑定id为test1的元素
            
        });
        laydate.render({
            elem:'#test2', // 绑定id为test2的元素
            type: 'year' // 年选择器
        });
        laydate.render({
            elem:'#test3', // 绑定id为test3的元素
            type: 'month' // 年月选择器
        });
        laydate.render({
            elem:'#test4', // 绑定id为test4的元素
            type: 'date' // 日期选择器   
        });
        laydate.render({
            elem:'#test5', // 绑定id为test5的元素
            type: 'time' // 时间选择器   
        });
        laydate.render({
            elem:'#test6', // 绑定id为test6的元素
            type: 'datetime' // 日期时间选择器 
            
        });
        laydate.render({
            elem:'#test7', // 绑定id为test7的元素
            format: 'yyyy年MM月dd日' //可任意组合

        });
        
    });
</script>
<script>
</script>
</body>
</html>
