<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../component/pear/css/pear.css" />
</head>
<body>
<form class="layui-form" lay-filter="layItem" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">小区名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">小区编号</label>
                        <div class="layui-input-block">
                            <input type="text" name="number" required  lay-verify="required" placeholder="请输入价格" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">小区地址</label>
                        <div class="layui-input-block">
                            <input type="text" name="address" lay-verify="required" autocomplete="off" placeholder="请输入卖点" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">总栋数</label>
                        <div class="layui-input-block">
                            <input type="text" name="totalBuildings" required  lay-verify="required" placeholder="请输入库存" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">总户数</label>
                        <div class="layui-input-block">
                            <input type="text" name="totalHouseholds" lay-verify="required" autocomplete="off" placeholder="请输入卖点" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">物业名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="tenementName" required  lay-verify="required" placeholder="请输入库存" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test1">上传图片</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="demo1" style="width: 200px;height: 150px">
                        <p id="demoText"></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="user-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script src="../../../component/layui/layui.js"></script>
<script src="../../../component/pear/pear.js"></script>
<script type="text/javascript" src="../../../component/layui/base.js"></script>


<script>



layui.use(['form','jquery','upload'],function(){
    let form = layui.form;
    let $ = layui.jquery;
    let upload = layui.upload;


    //获取url后面携带的参数
    let id=getQueryVariable("id");

    //回显数据
    $.ajax({
        url:'http://localhost:8081/sunwise/village/find/'+id,
        method:"GET",
        success:function(obj){

            let data=obj.data;

            //layui表单赋值回显

            form.val("layItem", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                id:id,
                name:data.name,
                number:data.number,
                address:data.address,
                totalBuildings:data.totalBuildings,
                totalHouseholds:data.totalHouseholds,
                tenementName:data.tenementName

            });

            //回显图片
            let image=obj.data.image;
            if(image){
                sessionStorage.setItem("image",image)
                $('#demo1').attr("src",image)

            }
        }
    });







    //普通图片上传
    var uploadInst = upload.render({
        elem: '#test1'
        ,url: 'http://localhost:8081/sunwise/upload/image' //改成您自己的上传接口
        ,field:"image"
        ,before: function(obj){
            //预读本地文件示例，不支持ie8
            obj.preview(function(index, file, result){
                $('#demo1').attr('src', result); //图片链接（base64）
            });
        }
        ,done: function(res){
            //如果上传失败
            if(res.code > 0){
                return layer.msg('上传失败');
            }
            //上传成功
            $(".layui-form").append("<input  class='image' type='hidden' name='image' value='"+res.data+"'>");
        }
    });

    form.on('submit(user-save)', function(data){


        //设置修改的id
        data.field.id=id;

        //获取隐藏域中的图片
        if($(".image")[0]==null){
        data.field.image=sessionStorage.getItem("image")
        }else{
            data.field.image=$(".image")[0].value;
        }



        console.info(data.field);

        $.ajax({
            url:'http://localhost:8081/sunwise/village/update',
            data:JSON.stringify(data.field),
            dataType:'json',
            contentType:'application/json',
            type:'post',
            success:function(result){
                if(result.code==0){
                    layer.msg(result.msg,{icon:1,time:1000},function(){
                        parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                        window.parent.location.reload()
                    });
                }else{
                    layer.msg(result.msg,{icon:2,time:1000});
                }
            }
        })
        return false;
    });
})
</script>
<script>
</script>
</body>
</html>
