<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../component/pear/css/pear.css" />
</head>
<body>
    <form class="layui-form" action="" lay-filter="layItem">
        <div class="mainBox">
            <div class="main-container">
                <div class="main-container">
    
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">类型：</label>
                            <div class="layui-input-block">
                                <select id="medicineTypeId" name="medicineTypeId" lay-filter="aihao" >
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
    
                        <div class="layui-inline">
                            <label class="layui-form-label">药品名称：</label>
                            <div class="layui-input-block">
                                <input type="text" name="medicine_name" required  lay-verify="required" placeholder="请输入药品名称" autocomplete="off" class="layui-input">
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">药品编号：</label>
                            <div class="layui-input-block">
                                <input type="text" name="medicine_card" required  lay-verify="required" placeholder="请输入药品编号" autocomplete="off" class="layui-input">
                            </div>
                            </div>
                        </div>
    
                        <div class="layui-inline">
                            <label class="layui-form-label">型号</label>
                            <div class="layui-input-block">
                                <input type="text" name="model" required  lay-verify="required" placeholder="请输入天数" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
    
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">客户单价</label>
                            <div class="layui-input-block">
                                <input type="text" name="price" lay-verify="required" autocomplete="off" placeholder="请输入最大人数" class="layui-input">
                            </div>
                        </div>      
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">库存数量：</label>
                            <div class="layui-input-block">
                                <input type="text" name="medicine_num" required  lay-verify="required" placeholder="请输入天数" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                  
    
                        <div class="layui-inline">
                            <label class="layui-form-label">单位</label>
                            <div class="layui-input-block">
                                <input type="text" name="unit" required  lay-verify="required" placeholder="请输入天数" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
    
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">负责人：</label>
                            <div class="layui-input-block">
                                <select id="managerId" name="managerId" lay-filter="aihao" >
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>    

                        <div class="layui-inline">
                            <label class="layui-form-label">供应商：</label>
                            <div class="layui-input-block">
                                <select id="vendorId" name="vendorId" lay-filter="aihao" >
                                    <option value=""></option>
                                </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="button-container">
                <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="reservation-save">
                    <i class="layui-icon layui-icon-ok"></i>
                    提交
                </button>
                <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </div>
    </form>
<script src="../../../component/layui/layui.js"></script>
<script src="../../../component/pear/pear.js"></script>
<script type="text/javascript" src="../../../component/layui/base.js"></script>


<script>

layui.use(['form','jquery','upload'],function(){
    let form = layui.form;
    let $ = layui.jquery;
    let upload = layui.upload;


    //获取url后面携带的参数
    let id=getQueryVariable("id");

    $.ajax({
        url:'/vendor/queryall',
        type:'get',
        beforeSend: function(request) {
            request.setRequestHeader("token", localStorage.getItem("token"));
        },
        success:function(result){
            if(result.code==0){

                //result.data 小区列表
                var data=result.data;

                $.each(data,function (index,vendor) {
                    $("#vendorId").append("<option value='"+vendor.vendor_id+"'>"+vendor.vendor_name+"</option>")

                })
                //重新渲染下拉框
                layui.form.render("select")

            }else{
                layer.msg(result.msg,{icon:2,time:1000});
            }
        }
    })

    $.ajax({
        url:'/manager/query',
        type:'get',
        beforeSend: function(request) {
            request.setRequestHeader("token", localStorage.getItem("token"));
        },
        success:function(result){
            if(result.code==0){

                //result.data 小区列表
                var data=result.data;

                $.each(data,function (index,manager) {
                    $("#managerId").append("<option value='"+manager.manager_id+"'>"+manager.manager_name+"</option>")

                })
                //重新渲染下拉框
                layui.form.render("select")

            }else{
                layer.msg(result.msg,{icon:2,time:1000});
            }
        }
    })

    $.ajax({
        url:'/medicinetype/query',
        type:'get',
        beforeSend: function(request) {
            request.setRequestHeader("token", localStorage.getItem("token"));
        },
        success:function(result){
            if(result.code==0){

                //result.data 小区列表
                var data=result.data;

                $.each(data,function (index,medicineType) {
                    $("#medicineTypeId").append("<option value='"+medicineType.type_id+"'>"+medicineType.type_name+"</option>")

                })
                //重新渲染下拉框
                layui.form.render("select")

            }else{
                layer.msg(result.msg,{icon:2,time:1000});
            }
        }
    })
   
   

    //回显数据
    $.ajax({
        url:'/medicine/getById?id='+id,
        method:"GET",
        success:function(obj){

            //后端返回的数据
            let data=obj.data;

            //layui表单赋值回显

            form.val("layItem", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                medicine_id:data.medicine_id,
                medicineTypeId:data.medicineType.type_id,
                medicine_name:data.medicine_name,
                medicine_card:data.medicine_card,
                model:data.model,
                price:data.price,
                medicine_num:data.medicine_num,
                unit:data.unit,
                managerId:data.manager.managerId,
                vendorId:data.vendor.vendor_id
            });

            //回显图片
            let image=obj.data.image;
            if(image){
                sessionStorage.setItem("image",image)
                $('#demo1').attr("src",image)

            }
        }
    });







    //普通图片上传
    var uploadInst = upload.render({
        elem: '#test1'
        ,url: '/sunshine/village/add' //改成您自己的上传接口
        ,field:"image"
        ,before: function(obj){
            //预读本地文件示例，不支持ie8
            obj.preview(function(index, file, result){
                $('#demo1').attr('src', result); //图片链接（base64）
            });
        }
        ,done: function(res){
            //如果上传失败
            if(res.code > 0){
                return layer.msg('上传失败');
            }
            //上传成功
            $(".layui-form").append("<input  class='image' type='hidden' name='image' value='"+res.data+"'>");
        }
    });

    form.on('submit(user-save)', function(data){


        //设置修改的id
        data.field.id=id;

        //获取隐藏域中的图片
        if($(".image")[0]==null){
        data.field.image=sessionStorage.getItem("image")
        }else{
            data.field.image=$(".image")[0].value;
        }



        console.info(data.field);
        $.ajax({
            url:'/reservation/update',
            data:JSON.stringify(data.field),
            dataType:'json',
            contentType:'application/json',
            type:'post',
            success:function(result){
                if(result.code==0){
                    layer.msg(result.msg,{icon:1,time:1000},function(){
                        parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                        window.parent.location.reload()
                    });
                }else{
                    layer.msg(result.msg,{icon:2,time:1000});
                }
            }
        })
        return false;
    });
})
</script>
<script>
</script>
</body>
</html>
