<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../component/pear/css/pear.css" />
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" required  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                    </div>
                </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号码</label>
                    <div class="layui-input-block">
                        <input type="text" name="phone" required  lay-verify="required" placeholder="请输入手机号码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" required  lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="password2" required  lay-verify="required" placeholder="确认密码" autocomplete="off" class="layui-input">
                    </div>
                </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">角色</label>
                        <div id="roleCheckbox" class="layui-input-block">
                       </div>
                    </div>

            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="role-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script src="../../../component/layui/layui.js"></script>
<script src="../../../component/pear/pear.js"></script>


<script>
layui.use(['form','jquery','upload','dtree'],function(){
    let form = layui.form;
    let $ = layui.jquery;
    let upload = layui.upload;


    $.ajax({
        type: "get",
        dataType:"json",
        url: "http://localhost:8080/sunshine/role/findAll",
        success: function(res){
            var data=res.data;
            $.each(data,function(index,role){
                $("#roleCheckbox").append("<input type=\"checkbox\" name=\"roleIds\" title=\""+role.name+"\" value=\""+role.id+"\">");
            });
            //重新渲染权限
            layui.form.render("checkbox");
        }
    });




    form.on('submit(role-save)', function(data){



        //获取多选框的id装进数组
        var quotation = new Array();

        //获取被选中的复选框,把id设置到数组中
        $("input:checkbox[name='roleIds']:checked").each(function(){
            quotation.push($(this).val());
        });

        //遍历数组，把id拼接成一个字符串提交给都选
        var str = "";  //1,2,3,
        for (var i = 0; i < quotation.length; i++) {
            str=str+quotation[i]+",";
        }
        //去掉最后一个逗号
        str=str.substring(0,str.length-1);

        //覆盖复选框的数据
        data.field.roleIds = str ;



        $.ajax({
            url:'http://localhost:8080/sunshine/admin/add',
            type:"post",
            data:JSON.stringify(data.field),
            dataType:'json',
            contentType:'application/json',
            //携带token
            beforeSend: function (XMLHttpRequest) {
                XMLHttpRequest.setRequestHeader("token", localStorage.getItem("token"));
            },
            success:function(result){
                if(result.code==0){
                    layer.msg(result.msg,{icon:1,time:1000},function(){
                        parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                        window.parent.location.reload()
                    });
                }else{
                    layer.msg(result.msg,{icon:2,time:1000});
                }
            }
        })
        return false;
    });
})
</script>
<script>
</script>
</body>
</html>
